body {
    background: #0ED1AA;
}
#log {
    background: #ffffff;
    opacity: 93%;
    width: 550px;
    height: 570px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 600px;
    box-shadow: 7px 8px 16px 5px #000000;
    padding: 30px;
}
#form{
    margin-top:150px;
}
#form2{
    margin-top:30px;
}
#usuario{
    width: 490px;
    
}
#contra{
    width: 490px;
}
#btn{
    margin: 30px;
}